<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <description>Perfify default spring configuration</description>

  <bean id="perfifyDynamicGZIPFilter" class="ard.perfify.servlet.DynamicResourceGZIPFilter">
    <property name="eagerBufferFlushingSize" value="1000"/>
    <property name="responseHeadersImmediateFlush" value="true"/>
  </bean>

  <bean id="perfifyStaticGZIPFilter" class="ard.perfify.servlet.StaticResourceGZIPFilter"/>
</beans>